<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="static/jquery-ui-1.12.1.custom/jquery-ui.min.css">
  <link rel="stylesheet" href="static/bootstrap-4.2.1/dist/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
      {% block content %}
      {% endblock %}
  </div>
  <script src="static/jquery-ui-1.12.1.custom/external/jquery/jquery.js"></script>
  <script src="static/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
  <script src="static/bootstrap-4.2.1/dist/js/bootstrap.min.js"></script>
  <script src="static/MyFacebookAdsInterests.js"></script>
</body>
</html>