{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col-sm-3">
    <form action="/result_list" method="POST" id="interest_form">
      <div class="form-group">
        <label for="interest_input">Interest #1:</label>
        <input type="text" class="form-control" name="interest-1" id="interest_input">
      </div>
      <div class="form-group">
        <label for="interest_input">Interest #2:</label>
        <input type="text" class="form-control" name="interest-2" id="interest_input">
      </div>
      <div class="form-group">
        <label for="interest_input">Interest #3:</label>
        <input type="text" class="form-control" name="interest-3" id="interest_input">
      </div>
      <button type="submit" class="btn btn-primary" name="seed">Submit</button>
    </form>
  </div>
</div>
{% endblock %}